@page "/recipes"
@using Pinula.Shared.Interface
@using Pinula.Shared.DTOs
@using Pinula.Shared.Models
@using Pinula.WASM.Components
@using System.Timers
@inject IRecipeService recipeService
@inject ICategoryService categoryService
@inject IUserService userService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@implements IDisposable

<PageTitle>Pinula - Recipes</PageTitle>

<div class="recipes-container">
    <div class="header-actions">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search recipes..." @bind="SearchTerm" @bind:event="oninput" />
            <img src="images/icons/search.png"/>
        </div>
        <button class="btn-icon btn-filter" @onclick="ToggleFilter">
            <img src="images/icons/filter.png" class="recipe-nav-icon" />
        </button>
        <button class="btn-icon btn-add" @onclick="AddRecipe">
            <img src="images/icons/plus.png" class="recipe-nav-icon" />
        </button>
    </div>

    <div class="main-content">
        @if (isActuallySearching)
        {
            <div class="search-results-header">
                <h3 class="d-inline">Search Results (@searchedRecipes.Count)</h3>
                <button class="btn-cancel" @onclick="ClearAll">Cancel filters</button>
            </div>
            
            <div class="recipes-grid">
                @if (searchedRecipes != null && searchedRecipes.Any())
                {
                    <RecipeGridVertical HasMoreToLoad="false" OnRecipeSelected="RecipeClicked" Recipes="searchedRecipes"></RecipeGridVertical>
                }
                else
                {
                    <div class="flex-column pt-5">
                        <p style="text-align:center; font-family:Nunito, Roboto; font-size:1.6rem; font-style:italic;">No recipes found matching your filters.</p>
                    </div>
                }
            </div>
        }
        else
        {
            <LoadingView IsLoading="@(isLoading)" Text="Searching for the best recipes..." IsFullScreen="true">

                @if (categories.Any())
                {
                    <div class="d-flex pb-2 scroll-container">
                        @foreach (var category in categories)
                        {
                            <CategoryCard Category="category" OnCategorySelected="CategoryClicked" />
                        }
                    </div>
                }

                <div class="hero-container mt-4">
                    <div class="welcome-header mb-4">
                        @if(currentUser != null)
                        {
                            <h1>Hello, @currentUser.Name!</h1>
                        }
                        else
                        {
                            <h1>Hello, Cook!</h1>
                        }
                        <p>What are we cooking today?</p>
                    </div>

                    <div class="featured-recipe mb-5">
                        <div class="hero-card">
                            <div class="hero-image" style="background-image: url('@recipeOfTheDay.PhotoUrl');"></div>
            
                            <div class="hero-overlay">
                                <div class="hero-content">
                                    <span class="hero-badge">
                                        Recipe of the day
                                    </span>
                                    <h2 class="hero-title">@recipeOfTheDay.Title</h2>
                                    <button class="btn-cook">
                                        <span>Cook Now</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (favouriteRecipes != null && favouriteRecipes.Any())
                {
                    <RecipeGridHorizontal Title="Your Favorites" Subtitle="The meals you love the most" HasMoreToLoad="moreFavouriteToLoad" IsLoading="isFavouriteLoading" OnLoadMore="LoadMoreFavourite" OnRecipeSelected="RecipeClicked" Recipes="favouriteRecipes"></RecipeGridHorizontal>
                }

                @if (fastRecipes != null && fastRecipes.Any())
                {
                    <RecipeGridHorizontal Title="Speedy Meals" Subtitle="Spend less time cooking, more time eating" HasMoreToLoad="moreFastToLoad" IsLoading="isFastLoading" OnLoadMore="LoadMoreFast" OnRecipeSelected="RecipeClicked" Recipes="fastRecipes"></RecipeGridHorizontal>
                }

                @if (bestRecipes != null && bestRecipes.Any())
                {
                    <RecipeGridHorizontal Title="Trending Now" Subtitle="Fresh recipes with a high rating" HasMoreToLoad="moreBestToLoad" IsLoading="isBestLoading" OnLoadMore="LoadMoreBest" OnRecipeSelected="RecipeClicked" Recipes="bestRecipes"></RecipeGridHorizontal>
                }

                @if (mineRecipes != null && mineRecipes.Any())
                {
                    <RecipeGridHorizontal Title="My Recipes" Subtitle="Recipes designed and shared by you" HasMoreToLoad="moreMineToLoad" IsLoading="isMineLoading" OnLoadMore="LoadMoreMine" OnRecipeSelected="RecipeClicked" Recipes="mineRecipes"></RecipeGridHorizontal>
                }

                <div class="section-divider">
                    <div class="title-block">
                        <span class="subtitle">Discovery</span>
                        <h2>Other recipes</h2>
                    </div>
                    <div class="line"></div>
                </div>

                @if(latestRecipes != null && latestRecipes.Any())
                {
                    <RecipeGridVertical HasMoreToLoad="moreLatestToLoad" IsLoading="isLatestLoading" OnLoadMore="LoadMoreLatest" OnRecipeSelected="RecipeClicked" Recipes="latestRecipes"></RecipeGridVertical>
                }

            </LoadingView>

        }
    </div>

    @if (showFilterPopup)
    {
        <div class="modal-backdrop" @onclick="ToggleFilter">
            <div class="filter-popup" @onclick:stopPropagation="true">
            
                <div class="filter-row">
                    <label>Cooking time</label>
                    <input type="checkbox" class="custom-checkbox" @bind="cookingTimeOn" />
                </div>
                <div class="slider-row @(!cookingTimeOn ? "disabled" : "")">
                    <input type="range" min="5" max="180" step="5" @bind="filterParams.MaxCookingTime" @bind:event="oninput" disabled="@(!cookingTimeOn)" />
                    <span class="value-text">@(filterParams.MaxCookingTime)m</span>
                </div>

                <div class="filter-row mt-4">
                    <label>Calories</label>
                    <input type="checkbox" class="custom-checkbox" @bind="caloriesOn" />
                </div>
                <div class="slider-row @(!caloriesOn ? "disabled" : "")">
                    <input type="range" min="100" max="2500" step="50" @bind="filterParams.MaxCalories" @bind:event="oninput" disabled="@(!caloriesOn)" />
                    <span class="value-text">@(filterParams.MaxCalories)kcal</span>
                </div>

                <div class="filter-row mt-4">
                    <label>Rating</label>
                    <span class="btn-clear" @onclick="ClearRating">Clear</span>
                </div>
                <div class="rating-stars">
                    @for (int i = 1; i <= 5; i++)
                    {
                        var starValue = i;
                        <img src="@(filterParams.MinRating >= starValue ? "images/icons/favorite_full.png" : "images/icons/favorite.png")" class="time-icon"
                           @onclick="() => SetRating(starValue)"/>
                    }
                </div>

                <div class="filter-row mt-4">
                    <label>Difficulty</label>
                </div>
                <div class="difficulty-grid">
                    @foreach (var diff in Enum.GetValues<DifficultyLevel>())
                    {
                        <button class="diff-btn @(filterParams.MaxDifficulty == (int)diff ? "active" : "")"
                                @onclick="() => SetDifficulty(diff)">
                            @diff
                        </button>
                    }
                </div>

                <div class="filter-row mt-4 mb-4">
                    <label>Only favorite</label>
                    <input type="checkbox" class="custom-checkbox" @bind="filterParams.OnlyFavorites" />
                </div>

                <div class="filter-footer">
                    <button class="btn-apply" @onclick="ApplyFilters">Apply</button>
                    <button class="btn-cancel" @onclick="ToggleFilter">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

@code {

    #region RecipeLists
    private List<RecipePreviewDto> favouriteRecipes = new();
    private List<RecipePreviewDto> latestRecipes = new();
    private List<RecipePreviewDto> fastRecipes = new();
    private List<RecipePreviewDto> bestRecipes = new();
    private List<RecipePreviewDto> mineRecipes = new();

    private readonly RecipeFilterParametrs _favouriteFilter = new RecipeFilterParametrs()
    {
        OnlyFavorites = true,
        Amount = 4
    };
    private readonly RecipeFilterParametrs _bestFilter = new RecipeFilterParametrs()
    {
        MinRating = 4,
        Amount = 4
    };
    private readonly RecipeFilterParametrs _fastFilter = new RecipeFilterParametrs()
    {
        MaxCookingTime = 20,
        Amount = 4
    };
    private readonly RecipeFilterParametrs _mineFilter = new RecipeFilterParametrs()
    {
        OnlyMine = true,
        Amount = 4
    };
    private readonly RecipeFilterParametrs _latestFilter = new RecipeFilterParametrs()
    {
        Sort = SortBy.Newest,
        Amount = 4
    };

    private bool isFavouriteLoading;
    private bool isLatestLoading;
    private bool isFastLoading;
    private bool isBestLoading;
    private bool isMineLoading;

    private bool moreFavouriteToLoad = true;
    private bool moreLatestToLoad = true;
    private bool moreFastToLoad = true;
    private bool moreBestToLoad = true;
    private bool moreMineToLoad = true;

    private async Task LoadMoreFavourite()
    {
        isFavouriteLoading = true;
        favouriteRecipes = await LoadMoreLogic(_favouriteFilter, favouriteRecipes, status => moreFavouriteToLoad = status);
        isFavouriteLoading = false;
    }

    private async Task LoadMoreLatest()
    {
        isLatestLoading = true;
        latestRecipes = await LoadMoreLogic(_latestFilter, latestRecipes, status => moreLatestToLoad = status);
        isLatestLoading = false;
    }

    private async Task LoadMoreFast()
    {
        isFastLoading = true;
        fastRecipes = await LoadMoreLogic(_fastFilter, fastRecipes, status => moreFastToLoad = status);
        isFastLoading = false;
    }

    private async Task LoadMoreBest()
    {
        isBestLoading = true;
        bestRecipes = await LoadMoreLogic(_bestFilter, bestRecipes, status => moreBestToLoad = status);
        isBestLoading = false;
    }

    private async Task LoadMoreMine()
    {
        isMineLoading = true;
        mineRecipes = await LoadMoreLogic(_mineFilter, mineRecipes, status => moreMineToLoad = status);
        isMineLoading = false;
    }

    private async Task<List<RecipePreviewDto>> LoadMoreLogic(RecipeFilterParametrs filter, List<RecipePreviewDto> currentList, Action<bool> setMoreToLoad)
    {
        filter.Skip = currentList.Count;

        var results = await recipeService.GetFilteredRecipePreviewsAsync(filter, default);
        var newList = results?.ToList() ?? new List<RecipePreviewDto>();

        if (!newList.Any() || newList.Count < filter.Amount)
        {
            setMoreToLoad(false);
        }

        currentList.AddRange(newList);


        return currentList;
    }

    #endregion

    private bool isLoading = true;

    private List<Category> categories = new();

    private RecipePreviewDto recipeOfTheDay;
    private UserDisplayDto? currentUser;

    private bool showFilterPopup;
    private bool cookingTimeOn;
    private bool caloriesOn;
    private bool isActuallySearching;

    private RecipeFilterParametrs filterParams = new() { MaxCookingTime = 20, MaxCalories = 1000 };
    private List<RecipePreviewDto> searchedRecipes = new();

    private Timer? debounceTimer;
    private string _searchTerm = "";

    public string SearchTerm
    {
        get => _searchTerm;
        set
        {
            _searchTerm = value;
            OnSearchInput();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadDashboardData();
        debounceTimer = new Timer(1000);
        debounceTimer.AutoReset = false;
        debounceTimer.Elapsed += async (sender, e) =>
        {
            await InvokeAsync(HandleSearch);
            await InvokeAsync(StateHasChanged);
        };

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!isLoading)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("setupHorizontalScroll");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"JS Error: {ex.Message}");
            }
        }
    }

    private async Task<List<RecipePreviewDto>> LoadRecipesToList(RecipeFilterParametrs parametrs, List<RecipePreviewDto> list)
    {
        parametrs.Skip = list.Count();

        var resp = await recipeService.GetFilteredRecipePreviewsAsync(parametrs, null);

        var newList = new List<RecipePreviewDto>();

        foreach(var r in list)
        {
            newList.Add(r);
        }

        foreach(var r in resp)
        {
            newList.Add(r);
        }

        return newList;
    }



    private async Task LoadDashboardData()
    {
        isLoading = true;
        try
        {
            var categoriesTask = categoryService.GetAllCategoriesAsync();
            var userTask = userService.GetCurrentUserAsync();
            var recipeTask = recipeService.GetFilteredRecipePreviewsAsync(new RecipeFilterParametrs { Amount = 1, MinRating = 3, Sort = SortBy.Newest }, null);

            var favouriteTask = LoadRecipesToList(_favouriteFilter, favouriteRecipes);
            var latestTask = LoadRecipesToList(_latestFilter, latestRecipes);
            var fastTask = LoadRecipesToList(_fastFilter, fastRecipes);
            var bestTask = LoadRecipesToList(_bestFilter, bestRecipes);
            var mineTask = LoadRecipesToList(_mineFilter, mineRecipes);

            await Task.WhenAll(categoriesTask, userTask, favouriteTask, latestTask, fastTask, bestTask, mineTask);


            var categoriesData = categoriesTask.Result;
            var userData = userTask.Result;
            var recipesData = recipeTask.Result;
            var favData = favouriteTask.Result;
            var latestData = latestTask.Result;
            var fastData = fastTask.Result;
            var bestData = bestTask.Result;
            var mineData = mineTask.Result;

            categories = categoriesData?.ToList() ?? new List<Category>();
            currentUser = userData;

            recipeOfTheDay = recipesData != null && recipesData.Any()? recipesData.First(): new RecipePreviewDto();

            favouriteRecipes = favData?.ToList() ?? new List<RecipePreviewDto>();
            latestRecipes = latestData?.ToList() ?? new List<RecipePreviewDto>();
            fastRecipes = fastData?.ToList() ?? new List<RecipePreviewDto>();
            bestRecipes = bestData?.ToList() ?? new List<RecipePreviewDto>();
            mineRecipes = mineData?.ToList() ?? new List<RecipePreviewDto>();

            if (favouriteRecipes.Count < _favouriteFilter.Amount) moreFavouriteToLoad = false;
            if (latestRecipes.Count < _latestFilter.Amount) moreLatestToLoad = false;
            if (fastRecipes.Count < _fastFilter.Amount) moreFastToLoad = false;
            if (bestRecipes.Count < _bestFilter.Amount) moreBestToLoad = false;
            if (mineRecipes.Count < _mineFilter.Amount) moreMineToLoad = false;



        }
        finally
        {
            isLoading = false;
        }
    }

    private void OnSearchInput()
    {
        if (debounceTimer != null)
        {
            debounceTimer.Stop();
            debounceTimer.Start();
        }
    }

    public void Dispose()
    {
        debounceTimer?.Dispose();
    }

    private void ToggleFilter() => showFilterPopup = !showFilterPopup;

    private void SetDifficulty(DifficultyLevel diff)
    {
        if (filterParams.MaxDifficulty == (int)diff) filterParams.MaxDifficulty = null;
        else filterParams.MaxDifficulty = (int)diff;
    }

    private void SetRating(int rating) => filterParams.MinRating = rating;

    private void ClearRating() => filterParams.MinRating = null;

    private async Task ApplyFilters()
    {
        showFilterPopup = false;
        await HandleSearch();
    }

    private async Task HandleSearch()
    {
        if (string.IsNullOrWhiteSpace(_searchTerm) && !IsFilterActive())
        {
            isActuallySearching = false;
            return;
        }

        isActuallySearching = true;

        var tempParams = new RecipeFilterParametrs
        {
            SearchTerm = _searchTerm,
            OnlyFavorites = filterParams.OnlyFavorites,
            MaxDifficulty = filterParams.MaxDifficulty,
            MaxCookingTime = cookingTimeOn ? filterParams.MaxCookingTime : null,
            MaxCalories = caloriesOn ? filterParams.MaxCalories : null,
            MinRating = filterParams.MinRating
        };

        var recipes = await recipeService.GetFilteredRecipePreviewsAsync(tempParams, null);

        searchedRecipes.Clear();
        foreach(var r in recipes)
        {
            searchedRecipes.Add(r);
        }    
    }

    private bool IsFilterActive()
    {
        return cookingTimeOn || caloriesOn || filterParams.OnlyFavorites ||
               filterParams.MaxDifficulty != null || filterParams.MinRating != null;
    }

    private void ClearAll()
    {
        filterParams = new();
        _searchTerm = string.Empty;
        isActuallySearching = false;
    }

    private void AddRecipe() => NavManager.NavigateTo("/add-recipe");
    private void RecipeClicked(RecipePreviewDto r) => NavManager.NavigateTo($"/recipe/{r.Id}");
    private void CategoryClicked(Category c) => NavManager.NavigateTo($"/recipes/category/{c.Id}");
}